<form name='newPersonForm' novalidate ng-submit='createPerson()' >
        <div class="form-group" ng-class="{ 'has-error': newPersonForm.firstName.$touched && newPersonForm.firstName.$invalid }">
              <label>First Name</label>
        <input ng-maxlength='20' ng-minlength='5' required name="firstName" ng-model="newPerson.firstName" type="text" class="form-control">
        <div ng-if='newPersonForm.firstName.$touched' ng-messages='newPersonForm.firstName.$error' class='help-block'>
                        <div ng-messages-include='/views/messages.html'></div>
                </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': newPersonForm.lastName.$touched && newPersonForm.lastName.$invalid }">
              <label>Last Name</label>
        <input ng-maxlength='20' ng-minlength='5' required name="lastName" ng-model="newPerson.lastName" type="text" class="form-control">
        <div ng-if='newPersonForm.lastName.$touched' ng-messages='newPersonForm.lastName.$error' class='help-block'>
                        <div ng-messages-include='/views/messages.html'></div>
                </div>
      </div>

      <div class="form-group"ng-class="{ 'has-error': newPersonForm.notes.$touched && newPersonForm.notes.$invalid }">
        <label>Notes</label>
        <textarea ng-minlength='5' required name="notes" ng-model="newPerson.notes" class="form-control"></textarea>
      <div ng-if='newPersonForm.notes.$touched' ng-messages='newPersonForm.notes.$error' class='help-block'>
                        <div ng-messages-include='/views/messages.html'></div>
                </div>
      </div>

        <button type="submit" class="btn btn-primary">Add Person</button>
</form>


